@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');

* {
    font-family: 'Advent Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(200,200,200,0.8);
}

.app {
    display: flex;
    flex-direction: column;
    width: 32rem;
    background: rgba(100,100,100,0.03);
    padding: 2rem 5rem;
    box-sizing: border-box;
    box-shadow: 0.3rem 0.2rem rgba(100,100,100,0.1);
}

.app__settings > * {
    width: 100%;
    margin-bottom: 1rem;
}

.app__heading {
    text-align: center;
}


.app__buttons {
    display: flex;
    margin-top: 1rem;
}

.app__buttons > * {
    flex: 1;
    padding: 0.5rem;
}