html {
    background: #018DED url(assets/night_bg.jpg);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    padding: 2rem;
    box-shadow:
            0 0 0 4px rgba(0,0,0,0.1),
            inset 0 0 0 3px #EFEFEF,
            inset 0 0 10px black,
            0 0 10px rgba(0,0,0,0.2);
}

.clock__clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.clock::after {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    border-radius: 50%;
    border: 10px solid black;
}

.clock__hand {
    position: absolute;
    background: black;
    top: 50%;
    transform-origin: 100%;
    transition: transform 0.5s cubic-bezier(0.1, 2.4, 0.58, 1);
}

.clock__hour-hand {
    width: 30%;
    height: 8px;
    transform: translate(6.5rem, -3px);
}

.clock__minute-hand {
    width: 50%;
    height: 6px;
}

.clock__second-hand {
    width: 50%;
    height: 4px;
}



