@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgba(183, 255, 0, 0.09);
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #2C3239;
    font-family: 'Baumans', cursive;
}

.menu__item {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    color: #eeeeee;
}

.menu__highlight {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #9DBBBD;
    filter: opacity(0.1);
    transition: all 0.2s;
    cursor: pointer;
}