@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgba(183, 255, 0, 0.09);
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2C3239;
    font-family: 'Baumans', cursive;
}

.menu__ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.menu__item {
    padding: 15px 20px;
    position: relative;
}

.menu__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #eeeeee;
}

.menu__submenu {
    display: none;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 2rem 2rem;
    position: absolute;
    top: 20px;
}

.menu__submenu a {
    padding: 5px;
}

.active .menu__submenu {
    display: block;
}

.active .menu__submenu a {
    color: #2C3239;
    cursor: pointer;
}

.menu__column {
    display: flex;
    flex-direction: column;
}

.menu__highlight {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #9DBBBD;
    filter: opacity(0.1);
    transition: all 0.2s;
    cursor: pointer;
}

.menu__background {
    display: none;
    background: white;
    position: absolute;
    transition: all 2s;
}

.menu__background.active{
    display: block;
    opacity: 0;
}

.menu__background.active.show{
    opacity: 1;
    transition: all 2s;
}