@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #eeeeee;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}


.recipe {
    max-width: 700px;
    margin: 70px auto;
    background: white;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
}

body.fixed-nav .recipe {
    transform: scale(1);
}

header {
    text-align: center;
    height: 50vh;
    background: url(https://previews.123rf.com/images/scyther5/scyther51704/scyther5170400023/75086004-food-background-cooking-ingredient-kitchen-concept-meal-vegetarian-vegetable-health-top-view-space-b.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 7vw;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

.menu {
    background: black;
    top: 0;
    width: 100%;
    transition:all 0.5s;
    position: relative;
    z-index: 1;
}

body.fixed-nav .menu {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

.menu__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu__item {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
}


.fixed-nav .menu__logo {
    max-width: 500px;
}

.menu a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
}

.menu__logo a {
    color: black;
}

.highlighted a {
    transition: all 0.4s ease-in-out;
    border-bottom: 1px solid #eee;
}

footer {
    padding: 40px 0;
    text-align: center;
}