.recipe * {
    font-family: 'Cormorant Infant', serif;
}

.recipe {
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 80px 80px;
}

.recipe__title {
    font-weight: 600;
    font-size: 44px;
}

.recipe__image {
    width: 100%;
}

.recipe > * {
    padding: 5px 20px;
}

.recipe p {
    text-align: center;
}

.recipe ul {
    padding-left: 0;
}

.recipe__nutrients ul {
    display: flex;
}

.recipe li {
    position: relative;
    list-style: none;
    margin-bottom: 10px;
}

.recipe__nutrients li {
    flex: 1;
    text-align: center;
}

.recipe__ingredients li {
    display: flex;
    justify-content: space-between;
}

.recipe__ingredients li span {
    background: white;
    padding-right: 4px;
    padding-left: 4px;
}

.recipe__ingredients li::before {
    position: absolute;
    bottom: 7px;
    width: 100%;
    content: "";
    z-index: -1;
    border-bottom: 1px solid #b8b8b8;
}