@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #E1332D;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.app {
    width: 60vw;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.app__heading {
    font-size: 1.25em;
    font-weight: 900;
    margin: 0 0 2em;
}

.app__canvas {
    max-width: 100%;
}

.app__video {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
}