@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

html {
    background: black;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    overflow: hidden;
    background: url("assets/background_1.jpg") no-repeat;
    background-size: cover;
    background-position: bottom center;
}

canvas {
    display: none;
}

.video-player {
    width: fit-content;
    outline: none;
    border-radius: 8px;
    box-shadow: 6px -4px 4px 0 black;
    border: 2px solid;
    background: #111111;
    overflow: hidden;
}

.video-player__video {
    display: block;
    width: calc(340px); //360
    border: 0;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.video-player__progress-wrapper {
    position: absolute;
    bottom: 0px;
    min-height: 14px;
    background: rgba(0,0,0,0.6);
    width: 100%;
    cursor: pointer;
}

.video-player__progress-bar {
    height: 3px;
    background-color: cornflowerblue;
    width: 0%;
    pointer-events: none;
}

.video-player__menu {
    display: none;
    height: 80%;
    position: absolute;
    top: 15%;
    left: -50%;
    width: 200%;
}

.video-player__menu_active {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.video-player__menu > div {
    width: 60%;
    height: inherit;
    margin: 0 10px;
}

.video-player__menu > div#first-video {
    background: center / cover url("assets/foggy_x264_snapshot.jpg");
}

.video-player__menu > div#second-video {
    background: center / cover url("assets/ocean_x264_snapshot.jpg");
}

.video-player__menu > div#third-video {
    background: center / cover url("assets/ophtal_x264_snapshot.jpg");
}

@media screen and (min-width: 1460px) {

    .video-player {
        position: absolute;
        bottom: calc(20px + 34vw);
        left: calc(50% - 340px / 2);
    }
}

@media screen and (max-width: 1460px) {

    .video-player {
        position: absolute;
        bottom: 500px;
        left: calc(50% - 340px / 2);
    }
}